<div class="user-details">
  <h1> Projects </h1>
  <p>*Note: these projects are independently built by only me, if you are looking for a more extensive compilation of my collaborative work and experience, please refer to my <a href="#">resume</a>, or my <a href="https://www.linkedin.com/in/jawadkazi/">LinkedIn</a></p>

</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "https://cdn.dribbble.com/users/198387/screenshots/3929637/media/cf1800324bcb95167bdb2ef47803fe34.jpg?compress=1&resize=800x600&vertical=center" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gaussian Elimination/ Row Reduction </h3>
    <ul>
<!--       <li> Featured Skills</li> -->
    </ul>
    <p>Development of Gaussian elimination methodology, implemented in Python. The program was a final research project for M340L linear algebra, and was built robustly for any valid and real matrix. Additionally, the project was accompanied by a brief research document outlining the pseudo-code for the program, the code itself (which can alternatively be found on my github) and a couple edge cases and future steps in building a more efficient system.</p>
<!--     <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Divbeta.com </h3>
    <ul>
<!--       <li> Featured Skills</li> -->
    </ul>
    <p>After mentoring dozens of pre-seed startups in the Austin area and becoming intimately familiar with the startup environment, I built a tool to help startups solve one key problem in their earliest stages: finding diverse beta testers. The tool was built with Javascript and Flask, has built from scratch login/user management as well as SMTP (simple mail transfer protocol), and has devOps contained within the Render cloud and Github, for convenient and automated CI/CD. This project was then handed to the startup FoundingTitans, who maintain it and collect more users on the platform.</p>
<!--     <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
